@page "/register"
@using BlazorJWTAuth3.DTOs;
@using BlazorJWTAuth3.DataAccess.Interface;
@inject IAuthService _authService;
@inject NavigationManager _navi;

<PageTitle>Register</PageTitle>
<h3>Register</h3>

<EditForm Model="user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <lablel onformchange="email">Email</lablel>
        <InputText id="email" @bind-Value="user.UserId" class="form-control" />
        <ValidationMessage For="@(()=> user.UserId)" />
    </div>
    <div class="mb-3">
        <lablel onformchange="email">Password</lablel>
        <InputText id="pw1" @bind-Value="user.Password" class="form-control" type="password" />
        <ValidationMessage For="@(()=> user.Password)" />
    </div>
    <div class="mb-3">
        <lablel onformchange="email">Confirm Password</lablel>
        <InputText id="pw2" @bind-Value="user.ConfirmPassword" class="form-control" type="password" />
        <ValidationMessage For="@(()=> user.ConfirmPassword)" />
    </div>
    @msg<br />
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    UserRegister user = new UserRegister();
    string msg = "";
    private async void HandleRegistration()
    {
        var response = await _authService.Register(
            new UserDto { UserId = user.UserId },
            user.Password);

        if (!response.Success)
        {
            msg = response.Message;
            StateHasChanged();
        }
        else
        {
            msg = string.Empty;
            _navi.NavigateTo("/");
        }
    }
}
