@inherits LayoutComponentBase

<PageTitle>BlazorJWTAuth3</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <BlazorJWTAuth3.Components.UserButton />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
