@using Blazored.SessionStorage;
@inject ISessionStorageService _sessionStorage;
@inject AuthenticationStateProvider _authStateProvider;
@inject NavigationManager _navi;

<AuthorizeView>
    <Authorized>
        <a href="profile">Profile</a>
        <button @onclick="Logout">Logout</button>
    </Authorized>
    <NotAuthorized>
        [@_navi.Uri]
        <a href="register">Register</a>
        <a href="login?returnUrl=@_navi.ToBaseRelativePath(_navi.Uri)">Login</a>
    </NotAuthorized>
</AuthorizeView>
@code {

    private async Task Logout()
    {
        await _sessionStorage.RemoveItemAsync("authToken");
        await _authStateProvider.GetAuthenticationStateAsync();
        _navi.NavigateTo("/");
    }
}
